<div class="container">
    <h1><%= @restaurant.name %></h1>
  <ul>
    <li>Address: <%=  @restaurant.address%></li>
    <li>Category: <%= @restaurant.category.upcase%></li>
</ul>

<p><strong>Reviews</strong></p>
  <ul>
  <% @restaurant.reviews.each do |review| %>
  <li><%= review.content %></li>
  <% end %>
</ul>
<%= render 'reviews/form',  restaurant: @restaurant, review: @review %>
</div>
